$fs-default: 16;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//UI colors
$c-dark: #222;
$c-darkgray: #4f4f4f;
$c-brand: #00BFF3;

//Screen
$max-width-mobile: 480px;
$min-width-tablet: 768px;
$min-width-desktop: 1280px;
$min-width-hddesktop: 1440px;
$white: #fff;
$white: #fff;
$gray-border: #F2F2F2;
$gray-text: #666666;
$gray-bg: #EEEEEE;
$active: #CE0814;
$c-title: #333333;
$c-hr: #00BFF3;
$c-hr-hover: #0aafdc;
$ca-pink: #FC3159;
$ca-red: #CE0814;
$ca-gray: #493240;
$ca-blue: #0060E9;
$ca-green: #2EBF91;
$ca-yellow: #FEBB12;
$c-hr-bot: #E0E0E0;
$c-author: #0E62D6;
$c-decs: #4F4F4F;
$c-star: #F3A536;
$c-leader-num: #828282;
$c-black: #000;
$c-time: #BDBDBD;
$c-footer: #222222;
$c-copy: #161616;
$c-inpback: #E7E7E7;
$c-ahref: #2F80ED;
$c-filter: #5C5C5C;
$c-catred: #EB5757;
$c-danger: #FD9426;
$c-danger-hover: #ec871e;
$c-button-secondary: #F0F0F4;
$c-headline: #efefef;
$c-output: #E7EEEF;
$c-btn-run: #27AE60;
$c-background: #FAFAFA;
$c-question: #80DFF9;
$c-profile-nav: #2D5AAB;
